---
import BaseLayouts from "../../layouts/BaseLayouts.astro"
const pageTitle = "Learning"
---
<BaseLayouts pageTitle={pageTitle}>
    <h2>HTML&CSS Webデザイン</h2>
    <ul>
        <li><a href="chapter1">Chapter1</a></li>
    </ul>
</BaseLayouts>