---
import BaseLayouts from "../../layouts/BaseLayouts.astro";

export async function getStaticPaths() {
    return [
        { params: { tag: "astro" } },
        { params: { tag: "successes" } },
        { params: { tag: "community" } },
        { params: { tag: "blogging" } },
        { params: { tag: "setbacks" } },
        { params: { tag: "learning in public" } },
    ];
}

const { tag } = Astro.params;
---
<BaseLayouts pageTitle={tag}>
    <p>Posts tagged with {tag}</p>
</BaseLayouts>