---
import BaseLayouts from "../layouts/BaseLayouts.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Home Page";
---
<BaseLayouts pageTitle={pageTitle}>
	<h2> My asesome blog subtitle</h2>
	<Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
</BaseLayouts>